/* 
------------------------------------------------
GENERAL ELEMENTS
------------------------------------------------ 
*/

@font-face {
    font-family: Obitron;
    src: url(https://fonts.googleapis.com/css?family=Orbitron&display=swap);
}

:root {
    --success-green: #279225; 
    --darkest-gray: #060709;
    --lightest-gray: #C4C4C4;
    --warning-red: #5C0909;
    --transparent-red: rgba(92, 9, 9, 50%);
    --informative-blue: #056FD0;
}

body, html {
    height: 100vh;
}

.grid-container{
    margin: 0;
    color: var(--lightest-gray);
    display: grid;
    grid-template-columns: auto;
    /* grid-template-rows: 85% 100px; */
    grid-template-rows: 267% 100px;
    grid-template-areas: 
        "canvas"
        "information-bar";
    justify-items: center;
    align-items: center;
}

canvas #myCanvas {
    margin: 0;
    padding: 0;
    grid-area: canvas;
    top: 0;
}

.obi-text {
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    letter-spacing: .1rem;
}

.hidden {
    visibility: hidden;
}

/* 
------------------------------------------------
GRID CONTROL
------------------------------------------------ 
*/

.information-bar {
    background-color: var(--darkest-gray);
    display: grid;
    z-index: 20;
    grid-area: information-bar;
    grid-template-columns: 27% auto 27%;
    grid-template-rows: 50% 50%;
    grid-template-areas:
        "button-pause message-stripe catch-count-bar"
        "button-restart level-indicator strikes-left-bar";
    align-items: center;
    justify-items: center;
    width: 100%;
}

@media screen and (min-width: 921px){
    .information-bar {
        width: 951px;
    }
}

@media screen and (min-width: 921px){
    .information-bar {
        width: 951px;
    }
}

@media screen and (min-height: 770px){
        .body {
            grid-template-rows: 75% 100px;
        }
    }
@media screen and (min-height: 660px){
        .body {
            grid-template-rows: 78% 100px;
        }
    }
/* 
------------------------------------------------
BUTTONS
------------------------------------------------ 
*/

.button{
    /* display: inline-block; */
    /* margin: .8rem 3rem .8rem 3rem; */
    border: none;
    /* padding: 15px 32px; */
    width: 160px;
    height: 35px;
    text-align: center;
    text-decoration: none;
    color: var(--lightest-gray);
    font-size: .8rem;
    border-radius: 5px;
}

.button:hover {
    /* TODO: Change hover colors to more neutral ones */
    background-color: var(--success-green); /* Green */
    color: white;
  }

.informative-button{
    background-color: var(--informative-blue);

}

.critical-button{
    background-color: var(--warning-red);

}


.button-pause {
    grid-area: button-pause;
    
}

.splash-button{
    background-color: var(--success-green);
}

.splash-button:hover{
    border-style: solid; 
    border-color: var(--lightest-gray);
}



/* 
------------------------------------------------
GAME SUMMARY DISPLAY
------------------------------------------------ 
*/

.message-stripe {
    color: var(--success-green);
    font-size: 2rem;
    text-transform: uppercase;
    grid-area: message-stripe;
}


.catch-count-bar {
    grid-area: catch-count-bar;
    display: grid;
    grid-gap: .35rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.green-square{
    background-color: var(--success-green);
    border-radius: 2px;
    width: 20px;
    height: 20px;
}

.bar-bezel{
    padding: 0 .35rem 0 .35rem;
    border-width: 2px;
    border-color: var(--lightest-gray);
    border-radius: 5px;
    border-style: solid;
    height: 30px;
    width: 250;
    align-items: center;
    /* background-color: red; */
}

.button-restart {
    grid-area: button-restart;
    background-color: var(--warning-red);
}

.level-indicator {
    grid-area: level-indicator;
    font-size: 1.3rem;
}

.strikes-left-bar {
    grid-area: strikes-left-bar;
    display: grid;
    grid-gap: 1.3rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/* 
------------------------------------------------
SPLASH SCREENS
------------------------------------------------ 
*/

.game-over-splash {
    display: grid;
    grid-area: canvas;
    font-size: 4em;
    height: 70%;
    width: 70%;
    z-index: 10;
    background-color: var(--transparent-red);
    align-items: center;
    justify-items: center;
    border-radius: 10px;
}

/* 
------------------------------------------------
ANIMATIONS
------------------------------------------------ 
*/

.wrong {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}
  
.right { 
    /* position: fixed; */
    animation: nod 0.82s cubic-bezier(.36,.07,.19,.97) both;
}

.blink {
    animation: blink 1s linear infinite;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }
  
  @keyframes nod {
    10%, 90% {
      transform: translate3d(0, -1px, 0);
    }
    
    20%, 80% {
      transform: translate3d(0, 2px, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(0, -4px, 0);
    }
  
    40%, 60% {
      transform: translate3d(0, 4px, 0);
    }
  }

  @keyframes blink {
    50% {
      opacity: 0;
    }
  }