<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Catch Paddle Game</title>
    <script src="lib/createjs_1.1_min.js"></script>
    <script src="lib/zim_9.4.1.js"></script>
    <!-- use zimjs.com/distill for minified individual functions! -->
    <!-- physics libraries -->
    <script src="lib/Box2dWeb-2.1.a.3.min.js"></script>
    <script src="lib/physics_1.0.memo.js"></script>
    <!-- Leap motion libraries -->
    <script src="lib/leap-0.6.4.js"></script>
    <!-- Main code -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="grid-container" id="catchPaddle">
        <!-- canvas with id="myCanvas" is made by zim Frame -->
        <div class="canvas-dummy"></div>
        <div  class = "information-bar">
            <button class = "button informative-button button-pause" onclick = "game.pauseGame();"
            :class="[gameSummary.pauseFlag ? 'blink' : '']"
            >{{ gameSummary.pauseButtonText }}</button>
            <button class = "button critical-button button-restart" onclick="game.reStartGame()">Restart</button>
            <div class = "message-stripe obi-text">Catch Count: {{ gameSummary.globalScore }}</div>
            <span class = "hidden">{{ gameSummary.strikesLeft }} {{ gameSummary.catchCount }}</span>
            <!-- <div class = "message-stripe obi-text">{{ gameSummary.strikesLeft }} {{ gameSummary.catchCount }}</div> -->
            <div class = "level-indicator obi-text">Level: {{ gameSummary.diffLevel }} </div>
            <div class = "catch-count-bar bar-bezel">
                <green-square
                v-for="(squares, index) in gameSummary.catchSquareArray"
                :key="index"
                ></green-square>
            </div>
            <div class = "strikes-left-bar bar-bezel">
                <strike-square
                v-for="(squares, index) in gameSummary.strikesSquareArray"
                :key="index"
                :class="[gameSummary.strikesSquareArray.length < 3 ? 'blink' : '']"
                ></strike-square>
            </div>
        </div>
        <div class="canvas game-over-splash obi-text"
        :style.visibility="[gameSummary.gameOverFlag ? 'visibility:visible' : 'visibility:hidden']"
        :class="[gameSummary.gameOverFlag ? 'wrong' : 'right']"
        >
        Game Over
        <button class = "button splash-button" onclick="game.reStartGame()">Restart</button>
        </div>
    </div>
</body>
<!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="src/front-end-logic.js"></script>
<script src="src/main.js"></script>
</html>